<div class="header">
<mat-toolbar color="primary">
  <div class="logo-container">
    <img class="logo-img" src="assets/images/logo.jpg" alt="Employee Management Logo">
  <span class="logo">Employee Management</span>
  </div>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item (click)="openAddEditEmpForm()">
      <mat-icon>add</mat-icon>
      <span>Add Employee</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
</div>


<div class="main-body">
  <mat-form-field>
    <mat-label>Search ...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Fajar Kurniawan" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.username}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
        <td mat-cell *matCellDef="let row"> {{row.birthDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="basicSalary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.basicSalary | currency:'Rp.'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.group}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row" class="cell"> {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editEmployee(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the Search "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<div class="footer">
  <mat-toolbar color="primary">
    <span class="footer-text">©Fajar 2023</span>
  </mat-toolbar>
</div>
